@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Libre Franklin', sans-serif;

}

input {
    outline: none;
    border: none;
}

.main {
    max-width: 1440px;
    margin: 0 auto;

    background: #FFFFFF;
    /* border: 1px solid red; */
}

.container-one {
    /* background: #F5F5F5;; */
    padding: 0 100px;

    /* border: 1px solid red; */

}

/* navbar  */
.nav-bar {
    margin-top: 29.55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    text-align: center;
    letter-spacing: -0.011em;

    /* Primary-color */

    color: #177B57;
}

.items ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}

.items ul li {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    text-align: center;
    letter-spacing: -0.011em;

    color: #666666;
}

.nav-btn button {
    border-style: none;
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 29px;
    padding-right: 28px;
    background: #177B57;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 8px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    text-align: center;
    letter-spacing: -0.011em;

    color: #F5F5F5;
}

/* navbar close */

/* <!-----CONTACT PAGE  --> */
.contact-reserved {
    /* margin-top: 77px; */
    margin: 0 100px;
    width: 1316px;
    height: 736px;
    /* border: 1px solid red; */
    background: #F5F5F5;
    padding-left: 50px;
    padding-bottom: 50px;
}

.reserved-heading {
    margin-top: 50px;
}

.reserved-heading p {
    padding-top: 50px;
    padding-bottom: 17.14px;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;

    color: #000000;
}

.reserved-para {

    font-weight: 500;
    font-size: 22px;
    line-height: 27px;

    color: #212121;
}

.reserved-input {
    margin-top: 25.14px;
    display: flex;
    gap: 88px;


}

.left-input {
    position: relative;
    width: 235px;
    height: 40px;
}

.left-input img {
    position: absolute;
    left: 37px;
    top: 48px;
}
.left-input p{
    font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #666666;
}
.right-input p{
    font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #666666;
}
.cospace-dropdown select option {
    xt-indent: 20px;
        padding: 10px;
}
.left-input input {
    /* padding: 12px 0; */
    padding-left: 74px;
    width: 235px;
    height: 40px;
}

.right-input {
    position: relative;
}

.right-input img {
    position: absolute;
    top: 48px;
    right: 296px;
}

.right-input input {
    /* padding: 12px 0; */
    /* border: 1px solid red; */
    padding-left: 74px;
    padding-top: 11px;
    padding-bottom: 13px;
}

.reserved-input .left-input input {
    width: 235px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 8px;
}

.reserved-input .right-input input {
    width: 284px;
    /* height: 40px; */
    background: #FFFFFF;
    border-radius: 8px;
}

.reserved-input p {
    margin-bottom: 14.31px;
}

.cospace-dropdown p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #666666;
}



.cospace-dropdown select {
    background: #FFFFFF;
    border-radius: 8px;
    width: 686px;
    height: 48.28px;
}
.cospace-dropdown select option{
    padding: 10px 10px;
  }
  
  

.cospace-dropdown p {
    margin-top: 16.24px;
    margin-bottom: 9.62px;
}

.phonenumber p {
    margin-top: 17.24px;
    margin-bottom: 12.93px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #666666;
}

.phonenumber input {
    /* padding: 16px 0px; */
    width: 529px;
    height: 48.28px;

    padding-left: 74px;
}

.phonenumber {
    position: relative;
}

.phonenumber img {
    position: absolute;
    top: 65px;
    left: 35px;
}


.phonenumber input {
    margin-bottom: 7.24px;
    background: #FFFFFF;
    border-radius: 8px;
    width: 529px;
    height: 48.28px;
}

.messege textarea::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #666666;

    padding-top: 16.38px;
    padding-left: 54px;
    padding-bottom: 84.65px;
}

.messege p {
    margin-top: 7.24px;
    margin-bottom: 22.93px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #666666;
}

.messege {
    position: relative;
}

.messege img {
    position: absolute;
    top: 65px;
    left: 21px;
}

.messege textarea {
    margin-bottom: 50.49px;
    width: 529px;
    height: 117.41px;
    overflow: hidden;
    outline: none;
}

.submit button {
    background: #177B57;
    border-radius: 8px;
    width: 529px;
    height: 43.97px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    text-align: center;
    letter-spacing: -0.011em;

    color: #FFFFFF;
}





/* <!-----CONTACT PAGE   --> */



/* -----------------Footer------------------- */
.footer {
    background: #313131;
}

.white-line {
    margin: 0px 160px;
    height: 1px;
    width: 1120;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.top-footer {
    padding: 60px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.fp1 {
    margin-top: 20px;
    width: 306px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
    color: #FFFFFF;
}

.footer-number-para {
    display: flex;
    gap: 20px;
    margin-top: 30px;

}

.footer-mail-para {
    display: flex;
    gap: 20px;
    margin-top: 10px;

}

.phone-para1 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.phone-para2 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-links h1 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.footer-services {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-links p {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #F6F6F6;
}

.footer-services h1 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.footer-services p {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #F6F6F6;
}

.footer-getin {
    display: flex;
    flex-direction: column;
}

.footer-getin h1 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

.input-mail {
    margin-top: 20px;
    position: relative;
}

.footer-mail-icon {
    position: absolute;
    left: 245px;
    top: 13px;
}

.footer-getin input {
    width: 292px;
    height: 46px;
    background: #FFFFFF;
    border-radius: 8px;
}

.footer-getin input::placeholder {
    padding-left: 24px;
}

.footer-getin p {
    margin-top: 30px;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;

}

.footer-icons {
    margin-top: 21px;
    display: flex;
    gap: 19px;
}

.down-footer {
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}